@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
:root {
    --primaryColor: rgb(2, 190, 206);
    --secondaryColor: rgb(43, 51, 61);
    --textColor: rgb(30, 51, 61);
    --white: #fff;
    --font: 'Source Sans Pro', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font);
    font-size: var(--fontSize);
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
button {
    border: 2px solid var(--white);
    background: transparent;
    padding: 15px 30px;
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
}
button:hover {
    background: rgba(255,255,255,.1);
    cursor: pointer;
    transition: var(--transition);
}
/****************
main
****************/
main {
    width: 80%;
    background: var(--white);
    margin: 100px auto;
}
/****** header ******/
header {
    background-image: url(../img/kamp1.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
header hgroup {
    background: linear-gradient(45deg, rgba(30, 51, 61, .7),rgba(2, 190, 206,.7)); 
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    color: var(--white);
}
header h1 {
    font-size: 3rem;
    font-weight: 300;
}
header span {
    font-weight: 700;
}





